In [1]:
import pandas as pd
import csv

with open('adult.csv') as csvfile:
  f = pd.DataFrame(csv.reader(csvfile))
  print(f)

        0                  1       2            3              4   \
0      Age          Workclass  Income    Education  Education-Num
1       39          State-gov   77516    Bachelors             13
2       50   Self-emp-not-inc   83311    Bachelors             13
3       38            Private  215646      HS-grad              9
4       53            Private  234721         11th              7
...    ...                ...     ...          ...            ...
32557   27            Private  257302   Assoc-acdm             12
32558   40            Private  154374      HS-grad              9
32559   58            Private  151910      HS-grad              9
32560   22            Private  201490      HS-grad              9
32561   52       Self-emp-inc  287927      HS-grad              9

                        5                   6               7       8   \
0           Marital Status          Occupation    Relationship    Race
1            Never-married        Adm-clerical   Not-in-family   White
2       Married-civ-spouse     Exec-managerial         Husband   White
3                 Divorced   Handlers-cleaners   Not-in-family   White
4       Married-civ-spouse   Handlers-cleaners         Husband   Black
...                    ...                 ...             ...     ...
32557   Married-civ-spouse        Tech-support            Wife   White
32558   Married-civ-spouse   Machine-op-inspct         Husband   White
32559              Widowed        Adm-clerical       Unmarried   White
32560        Never-married        Adm-clerical       Own-child   White
32561   Married-civ-spouse     Exec-managerial            Wife   White

            9             10            11              12              13
0          Sex  Capital Gain  Capital Loss  Hours per Week  Native Country
1         Male          2174             0              40   United-States
2         Male             0             0              13   United-States
3         Male             0             0              40   United-States
4         Male             0             0              40   United-States
...        ...           ...           ...             ...             ...
32557   Female             0             0              38   United-States
32558     Male             0             0              40   United-States
32559   Female             0             0              40   United-States
32560     Male             0             0              20   United-States
32561   Female         15024             0              40   United-States

[32562 rows x 14 columns]